In [1]:
import numpy as np
import pandas as pd

In [18]:
ut_flat_sdu = {'logical_beam_id' : pd.Series([10021, 10023, 10025, 10027, 10029]),
   ....:      'day' : pd.Series([23, 23, 23, 23, 23]), 'daily_Tbytes': pd.Series([0.024721, 0.704003, 0.621033, 1.123510, 0.399905])}
a = pd.DataFrame(ut_flat_sdu)
a

   logical_beam_id  day  daily_Tbytes
0            10021   23      0.024721
1            10023   23      0.704003
2            10025   23      0.621033
3            10027   23      1.123510
4            10029   23      0.399905

In [19]:
t = {'logical_beam_id' : pd.Series([10021, 10023, 10025, 10027, 10029]),
   ....:      'day' : pd.Series([23, 23, 23, 23, 23]), 'daily_Tbytes': pd.Series([0.025078, 0.712004, 0.626857, 1.133891, 0.402374])}
b = pd.DataFrame(smac_stats_vno_priority_pdu)
b

   logical_beam_id  day  daily_Tbytes
0            10021   23      0.025078
1            10023   23      0.712004
2            10025   23      0.626857
3            10027   23      1.133891
4            10029   23      0.402374

In [45]:
df = b.sub(a)
s = df['daily_Tbytes']
s

0    0.000357
1    0.008001
2    0.005824
3    0.010381
4    0.002469
Name: daily_Tbytes, dtype: float64

In [50]:
perc = s / a['daily_Tbytes']
perc

0    0.014441
1    0.011365
2    0.009378
3    0.009240
4    0.006174
Name: daily_Tbytes, dtype: float64

In [51]:
perc * 100

0    1.444116
1    1.136501
2    0.937792
3    0.923979
4    0.617397
Name: daily_Tbytes, dtype: float64

In [3]:
(0.025078 - 0.024721)

0.0003569999999999997